
@{
    ViewBag.Title = "AdminOnly";
    Layout = "~/Views/Shared/_afterLoginLayout.cshtml";
}

<h2>For Admin users only!</h2>

<div id="divUserListContainer">
    @Html.Action("ManageUserPartial", "Home");
</div>  

<hr />

<form action="GetAllProductsByFiler">
    <input type="text" name="productname" placeholder="Product Name">
    <input type="text" name="productaddress" placeholder="Product Address">
    <input type="text" name="productprice" placeholder="Max Price">
    <input type="submit" value="Submit">
</form>
<div id="divProductListContainer">
    @Html.Action("Products", "Home");
</div> 
 
<hr />

<div id="divSupllierListContainer">
    @Html.Action("Suplliers", "Home");
</div>  